.navbar-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    background-color:dark;
   
}

.navbar{
    position: static;
    top: 0;
}

.navbar-contents ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    width: 100%;
}

.navbar-contents li{
    padding: 15px;
    
}

#title{
    flex-grow: 1;;
}

#title a{
    display: flex;
    align-items:center;
    text-decoration:none;
    color:white
    
}

#title a span{
    margin-top: 15px;
}

.nav-button h5{
    margin-top: 25px;
    color:white;
}

#caption1{
    text-align: center;
    margin-top: 150px;
    color:white
}

#caption2{
    text-align: center;
    color:white
}

body{
    background-image: url(images/compute-ea4c57a4.png)
}

#imggroup1{
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    position: relative;
    left: -250px;
    width: 1500px
    
    
    
}

#imggroup1:hover{

    animation: movepictures .5s forwards ;


}
#imggroup1:not(:hover){
    animation: movePicturesBack .5 backwards;
}

@keyframes movepictures 
{
    from{
        transform:translateX(0);
    }
    to{
        transform: translateX(250px);
    }
}

@keyframes movePicturesBack {
    
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-250px);
    }
    
}

.instructions{
    color:white
}

.image-container{
    position: relative;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    width: 100px;
    
}
.image-container img{
    z-index: 2;
}

.text-underImage{
    position: absolute;
    bottom: 450px;
    left: 250px;
    width: 100%;
    color: white;
    text-align:center;
    padding: 10px 0;
    z-index: 1;
    font-size: 20px;
}